.myretro{
    cursor: default !important;
    font-size: 32px !important;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 20px !important;
}

.retrolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.padzero{
    padding: 0 !important;
}

.choose-ret-left{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    
}
.retro-input-menu input{
    border: 1px solid black;
}