
.user-info div:first-child{
    font-size: 14px;
    
}

.user-info div:last-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pic img{
    width: 80px;
    border-radius: 5ch;
}

.card-size{
    width: 50px;
}